<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs');  %>

<body>
  <%- include('./partials/nav.ejs');  %>


  
  <div class="container">
    <ul class="collection with-header">
      <% if(items.length>0) { %>

        <% items.forEach(items=> { %>
          <li class="collection-item">
            <div><%= items.name %> <%= items.price  %><a href="#!" class="secondary-content">
                <i class="material-icons">delete</i>
                <i class="material-icons">send</i></a></div>
          </li>
          <%});%>

            <% }else{ %>
              <li>There no items</li>

              <%};%>
    </ul>
  </div>



</body>

</html>